<div class="row formrow">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="exampleInputEmail1">Pin code</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter pincode" name="'pincode'" #mypin="ngModel" ngModel [(ngModel)]="pin">
                    <small id="emailHelp" class="form-text text-muted" *ngIf="!pin">Please enter the pincode</small>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row mb-2 formrow">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="form-group">
                    <label for="exampleInputEmail1">Date</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="date" placeholder="select date">
                  </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row formrow">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="text-center"><button (click)="search(mypin)" [class.disable]="mypin.invalid" class="btn btn-primary">Search</button></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


<hr>


<alert type="danger" *ngIf="!slots && clicked">
    <strong>Oh snap!</strong>No record Found
  </alert>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Center-Id</th>
        <th scope="col">CenterName</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">date</th>
        <th scope="col">from</th>
        <th scope="col">to</th>
        <th scope="col">Fee</th>
        <th scope="col">Available Capacity</th>
        <th scope="col">Vaccine</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let slot of slots">
        <th scope="row">{{slot.center_id}}</th>
        <td>{{slot.name}}</td>
        <td>{{slot.addess}}</td>
        <td>{{slot.district_name}}</td>
        <td>{{slot.date}}</td>
        <td>{{slot.from}}</td>
        <td>{{slot.to}}</td>
        <td>{{slot.fee}}</td>
        <td>{{slot.available_capacity}}</td>
        <td>{{slot.vaccine}}</td>
      
    </tbody>
  </table>
  
