<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://www.bharatbiotech.com/images/bharat-biotech-logo.jpg" height=120 width="120" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Indian Producer</h5>
          <p class="card-text">They have created covishield vaccine with super efficiency. </p>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://images.indianexpress.com/2021/04/PFIZER.jpg" height="120" width="120" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pfizer</h5>
          <p class="card-text">Super efficient with increased immunity upto 89%</p>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202009/Covishield-647x363.png?EAyAmn.8dW5TJvKDxxiYPdkiZTcwQgOc&size=1200:675" height="120" width="120" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Covieshield</h5>
          <p class="card-text">Indian vaccine.exported to almost 50other country</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2020/12/19/136048-moderna-reuters-new.PNG?itok=9vrp18sY" height="120" width="120" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Moderna</h5>
          <p class="card-text">Benificial  for child.specially age between 5-14</p>
        </div>
      </div>
    </div>
  </div>
  </div>
 <div class="container-fluid">
    <div class="row">
      <div class="col">
        <carousel>
          <slide>
            <img src="assets/images/1.jpg" alt="first slide" style="display: block;" width="100%">
          </slide>
          <slide>
            <img src="assets/images/2.jpg" alt="second slide" style="display: block;"  width="100%">
          </slide>
          <slide>
            <img src="assets/images/3.jpg" alt="third slide" style="display: block;"  width="100%">
          </slide>
          
          <slide>
            <img src="assets/images/4.jpg" alt="third slide" style="display: block; " width="100%">
          </slide>
        </carousel>
  
      </div>
    </div>
  </div>
